.post-details h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 10px;
}

.post-details p{
    margin: 1rem 0;
}

.post-details div {
    margin: 1rem 5rem;
}

.post-details .loading{
    font-size: 1.5rem;
    margin: 1rem 5rem;
}

.post-details button {
    font-size: 1.3rem;
    margin: 1rem 0;
    background-color: antiquewhite;
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 200ms;
}
  
.post-details button:hover{
    background: #f1356d;
    color: #fff;
}
